body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: burlywood;
}
.envolope{
    position:relative;
    cursor: pointer;
}
.back{
    position: relative;
    width: 250px;
    height: 200px;
    background-color: chocolate;
}
.front{
    position:absolute;
    border-right: 130px solid orange;
    border-top: 100px solid transparent;
    border-bottom: 100px solid transparent;
    width: 0px; height: 0px;
    top: 0px;left: 120px;
    z-index:3;
}
.front:before{
    content: " ";
    position:absolute;
    border-left: 130px solid orange;
    border-top: 100px solid transparent;
    border-bottom: 100px solid transparent;
    height: 0px;width: 0px;
    top: -100px;left:-120px;
}
.front:after{
    content:'';
    position:absolute;
    border-bottom:105px solid rgb(255, 219, 126);
    border-left: 125px solid transparent;
    border-right: 125px solid transparent;
    height: 0px;width: 0px;
    top: -5px;left: -120px;
}
.top{
    position: absolute;
    border-top: 105px solid orangered;
    border-left: 125px solid transparent;
    border-right: 125px solid transparent;
    height: 0px;width: 0px;top: 0px;
    transform-origin: top;
    transform: 0.4s;
}
.envolope:hover.top{
    transform: rotateX(160deg);
}
.letter{
    position: absolute;
    background: white;
    width: 230px;height: 180px;
    top: 10px;left:10px;
    transition: 0.2s;
}
.envolope:hover.letter{
    transform: translateY(-100px);
    z-index: 2;
}
.text1{
    position: absolute;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: large;
    top:-50%;
}
.text{
    text-align: center;
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 20px;
    font-weight: bold;
    position: relative;
    top:-20px;
    left: 20px;
}
.heart{
    background-color: red;
    height: 70px;width: 70px;
    position: relative;
    top: 20px;left: 20px;
    transform: rotate(-45deg);
    box-shadow: -5px 10px 90px red;

} 

